<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <!--<target name="file" xsi:type="File" fileName="shop.log" />-->
    <target name="consolelog" xsi:type="Console" />
    <target name="filelog" xsi:type="File"  fileName="${basedir}/Log/Shop-${date:format=yyyy-MM-dd}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Error" writeTo="consolelog" />
    <logger name="*" minlevel="Debug" writeTo="filelog" />
  </rules>
</nlog>